html {
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color:rgb(231, 231, 231);
}

a {
  color: inherit;
  text-decoration: none;
}


body {
  margin: 0;
}

button {
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #007bff;
  color: white;
  padding: .5rem 1rem;
}

button:hover {
  background: #238cfc;
}

h1,
h2,
h3 {
  text-align: center;
}

input {
  margin: 10px;
  padding: 6px;
  box-sizing: border-box;
}

form {
  margin-top: 10vh;
  width: 400px;
}

.main {
  margin-top: 10vh;
  width: 400px;
}

.container {
  margin: 25px;
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-center {
  display: grid;
  place-items: center;
}

.grid-center input {
  width: 100%;
}

.auth-buttons button {
  white-space: nowrap;
}

.auth-buttons a {
  margin: 0 .5rem;
  white-space: nowrap;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  padding: 6px;
  margin-top: 16px;
  padding: .5rem 1rem;
}

.response-area {
  position: relative;
  justify-content: center;
  align-items: center;
}

.response-area p {
  text-align: center;
  color: red;;
}

.response-area h3 {
  text-align: center;
}

.red button {
  background-color:red;
}

@media only screen and (max-width: 767px) {
  /* Styles for mobile devices */
  header {
    padding: 8px;
  }

  h1 {
    font-size: 25px;
  }

  .auth-buttons button {
    margin: .1 .2rem;
    padding: .2 .4rem;
    font-size: 14px;
  }

  .footer-menu ul {
    visibility: hidden;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

