html, body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color:rgb(231, 231, 231);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #007bff;
  color: white;
  padding: .5rem 1rem;
}

button:hover {
  background: #238cfc;
}

h1,
h2,
h3 {
  text-align: center;
}

input {
  margin: 10px;
  padding: 6px;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


.container {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.grid-center {
  display: grid;
  place-items: center;
}

.grid-center input {
  width: 400px;
}

.buttons button {
  white-space: nowrap;
}

.buttons a {
  margin: 0 .5rem;
  white-space: nowrap;
}

.buttons {
  display: flex;
  align-items: center;
}

.align-form {
  margin-top: 10vh;
}

.nav-buttons {
  position: absolute;
  align-items: center;
  display: flex;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}

.nav-buttons a {
  margin: 20px;
}

.submit-button {
  display: block;
  margin: 0 auto;
  padding: 6px;
  margin-top: 16px;
  padding: .5rem 1rem;
}

.response-area {
  position: relative;
  justify-content: center;
  align-items: center;
}

.response-area p {
  text-align: center;
  color: red;
}

.response-area h3 {
  text-align: center;
}

.red button {
  background-color:red;
}

.green button {
  background-color:green;
}

.content {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.editing-container {
  display: flex;
  flex-direction: row;
  border: 2px solid #000;
}

.editing-main {
  flex: 1;
  border: 2px solid #0a07ad;
  min-width: 70vw;
  height: 70vh;
  overflow: auto;
  position: relative;
}

.editing-main input {
  position: absolute;
  bottom: 0;
  left: 0;
}

.editing-side {
  flex: 1;
  border: 2px solid #b90000;
  min-width: 20vw;
}

.webcam-preview {
  position: relative;
}

.upload {
  width: 70vw;
}

.superposable-images {
  display: inline-grid;
  position: absolute;
  top: 0;
  right: 0;
}

.superposable-images > * {
  width: 50px;
  height: auto;
}

.pasted-image {
  width: 50px;
  height: auto;
}

.capture-button {
  width: 60px;
  height: 60px;
  position: sticky;
  top: 60vh;
  left: 45%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #000;
}

.capture-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.selected {
  border: 2px solid #000;
}

@media only screen and (max-width: 767px) {
  header {
    padding: 8px;
  }

  h1 {
    font-size: 25px;
  }

  .buttons {
    display: grid;
  }

  .buttons button {
    margin: .1 .2rem;
    padding: .2 .4rem;
    font-size: 14px;
    width: 85px;
  }

  .grid-center input {
    width: 280px;
  }

  .nav-buttons {
    margin: 2px;
  }

  .align-form {
    margin-top: 5vh;
  }

  .editing-container {
    flex-direction: column;
  }

  .editing-main {
    min-width: 90vw;
    min-height: 70vh;
  }
  
  .editing-side {
    min-width: 20vw;
    min-height: 20vh;
  }

  .upload {
    width: 97vw;
  }

  input[type="file"]{
    color: transparent;
  }
  
}

footer {
  background: #111;
  color: #fff;
}

.footer {
  background: #000;
  padding: 20px;
}

.footer p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}

.footer span {
  text-transform: uppercase;
}
